<!DOCTYPE html>
<html>
<head>
	<title>ActionContext Basics</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></link>
</head>
<body>
	<h3>ActionContext Basics</h3>
	<table class="table">
		<tr><th>Handler:</th><td>::handler::</td></tr>
		<tr><th>Controller:</th><td>::controller::</td></tr>
		<tr><th>Action:</th><td>::action::</td></tr>
		<tr><th>Args:</th><td>::args::</td></tr>
		<tr><th>URI Parts:</th><td>::uriParts:: <em>(Leftover after we got to this action)</em></td></tr>
		<tr><th>Result:</th><td>::result:: <em>(Note: this would only be available after the data has been set for this view, hence it is null.)</em></td></tr>
	</table>
</body>
</html>

