<!DOCTYPE html>
<html>
<head>
	<title>HttpContext Basics</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></link>
</head>
<body>
	<h3>HttpContext Basics</h3>
	<table class="table">
		<tr><th>Script directory:</th><td>::scriptDir::</td></tr>
		<tr><th>Content directory:</th><td>::contentDir::</td></tr>
		<tr><th>Has permission to access /ufadmin/?</th><td>::hasPermission::</td></tr>
		<tr><th>Visits from this session:</th><td>::hits::</td></tr>
		<tr><th>Is session active?</th><td>::isSessionActive::</td></tr>
		<tr><th>Session ID:</th><td>::sessionID::</td></tr>
		<tr><th>Current User ID:</th><td>::currentUserID::</td></tr>
		<tr><th>Current User:</th><td>::currentUser::</td></tr>
		<tr><th>Completion:</th><td>::complete::</td></tr>
	</table>
</body>
</html>

