<!DOCTYPE html>
<html>
<head>
	<title>HttpRequest Basics</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></link>
</head>
<body>
	<h3>HttpRequest Basics</h3>
	<div class="btn-toolbar">
		<a href="::baseUri::/" class="btn btn-default">Basic</a>
		<a href="::baseUri::/some/other/uri.ext" class="btn btn-default">Different URI</a>
		<a href="::baseUri::/search?q=How to survive a velociraptor attack&amp;user=Randall" class="btn btn-default">GET 1</a>
		<a href="::baseUri::/compare?product=Cat&amp;product=Rabbit&amp;product=LLama&amp;sortby=Fluffiness" class="btn btn-default">GET 2</a>
	</div>
	<form class="form-inline" role="form" method="POST" action="::baseUri::/post?visitorSource=facebook">
		<div class="form-group">
			<input type="text" name="name" placeholder="Enter name">
			likes
			<label><input type="checkbox" name="like" value="cats"> Cats</label>
			<label><input type="checkbox" name="like" value="dogs"> Dogs</label>
			<button type="submit" class="btn btn-default">POST</button>
		</div>
	</form>

	<table class="table">
		<tr><th>uri:</th><td>::uri::</td></tr>
		<tr><th>queryString:</th><td>::queryString::</td></tr>
		<tr><th>postString:</th><td>::postString::</td></tr>
		<tr><th>clientIP:</th><td>::clientIP::</td></tr>
		<tr><th>hostName:</th><td>::hostName::</td></tr>
		<tr><th>userAgent:</th><td>::userAgent::</td></tr>
		<tr><th>httpMethod:</th><td>::httpMethod::</td></tr>
		<tr><th>scriptDirectory:</th><td>::scriptDirectory::</td></tr>
		<tr><th>params:</th><td><pre>::params::</pre></td></tr>
		<tr><th>query:</th><td><pre>::query::</pre></td></tr>
		<tr><th>post:</th><td><pre>::post::</pre></td></tr>
		<tr><th>files:</th><td><pre>::files::</pre></td></tr>
		<tr><th>cookies:</th><td><pre>::cookies::</pre></td></tr>
		<tr><th>clientHeaders:</th><td><pre>::clientHeaders::</pre></td></tr>
	</table>
</body>
</html>

