<div class="jumbotron">
	<div class="container">
		<h1>Ufront</h1>
		<p>The client-server framework that lets you build the next big web app.</p>
		<p><em><strong>Current state: </strong>Ufront has been in development for a while and is moving towards a stable release.  Many features are in there, some are still being developed, and quite a few need more thorough documentation.</em></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Client and server</h2>
			<p>Write in one language on the client and server. Share models, views and controllers between server and client. Even call server APIs from client side code.</p>
			<p>Currently supported platforms are Neko, PHP and Browser JS. We'd love to add NodeJS, C++ and the JVM and Python to that list.</p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
		<div class="col-md-4">
			<h2>A powerful framework</h2>
			<p>Ufront at it's heart is an MVCA framework - you structure you code in Models, Views, Controllers and APIs.  This lets you write well structured code - which is great for collaboration, testing, and for staying sane as your project grows.</p>
			<p>We're also make it easy to plug in extra functionality with dependency injection and a middleware framework.</p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
		<div class="col-md-4">
			<h2>A language you'll love</h2>
			<p>Ufront is powered by <a href="http://haxe.org">Haxe</a> - a powerful programming language with an emphasis on safety, speed and cross platform portability.</p>
			<p>Side note: while Ufront is powered by Haxe, the Haxe website is powered by Ufront!</p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h2>Get the latest ufront news and tutorials!</h2>
			<p>We'll let you know when there's new libraries, new tutorials, new features or urgent updates. <br/><small><em>We promise not to spam you.</em></small></p>
			<form class="form-inline" role="form" action="/newsletter/subscribe/" method="POST">
				<div class="form-group">
					<label class="sr-only" for="email">Email address</label>
					<input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
				</div>
				<button type="submit" class="btn btn-primary">Subscribe</button>
			</form>
		</div>
	</div>
</div>